@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

p,span,a,button,h1,h2,h3,h4,h5,h6{
    font-family: 'Heebo', sans-serif;
}
.wrapper{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

.delete_select{
    position: relative;
    margin-left: auto;
    display: block;
}
.submit_button{
    position: relative;
    margin-left: auto;
    display: block;
    background: #79c77c;
    color: #fff;
    font-weight: bold;
    border: 1px solid #79c77c;
    width: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.edit_title{
	position: relative;
    top: 30px;
}
.swinput{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	border: 1px solid #bdb3b3;
	border-radius: 3px;
	width: 100%;
	margin: 10px;
	color: #656565;
    max-width: 400px;
    display: block;
}
.swselect{
    width: 100%;
    margin: 10px;
    border: 1px solid #bdb3b3;
    border-radius: 3px;
    color: #656565;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 409px;
}
.input_container{
	display: block;
    /*justify-content: flex-start;*/
}
.input_container_type_res{
    display: flex;
    justify-content: flex-start;
}

.notes{
    display: block;
    padding-left: 11px;
    position: relative;
    top: 8px;
    font-size: 12px;
    font-style: italic;
    color: gray;
}
.input_error{
    border: 1px solid red !important;
}
.req_field_note_hide{
    display: none;
}
.req_field_note_show{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.success{
    padding: 10px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 5px;
    display:none;
}


.insert_error_hide{
    display: none;
}
.insert_error{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display:none;
}

.product_perent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product_child{
    width: 200px;
    text-align: center;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.type{
    font-weight: bold;
}

.product_check{
    text-align: left;
    position: relative;
    top: 8px;
    left: 5px;
}

.sel_all{
    padding-left: 15px;
    padding-top: 10px;
}

.delete_button{
    position: relative;
    margin-left: auto;
    display: block;
    background: #bd4646;
    color: #fff;
    font-weight: bold;
    border: 1px solid #bd4646;
    width: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
form .error {
  color: #ff0000;
  padding-left: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #218B82;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4cb5ac;
}

